$theme-color-primary: rgb(17 24 39);
$theme-color-secondary: rgb(168 85 247);
$theme-color-primary-accent: rgb(31, 35, 42);
$theme-color-secondary-accent: rgb(199, 148, 247);
$border-color: #cecece;
$invalid-color: #b1b1b1;